$colorNav: #f5f6f7;
$blueCharcoal: #010B17;
$blueCharcoalShadow: rgba(1, 11, 23, 0.509804);
$primary: #008da4;
$secondary: #cccccc;
$lightPrimary: #cdeff5;
$darkPrimary: #0078A4;
$darkSecondary: #b6b8b8;
$separator: rgba(0, 0, 0, 0.12);